<html ng-app="myApp"> 
<head> 
  <title>EBook Library</title> 
 
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" /> 
  <script src="bootstrap/js/bootstrap.min.js"> </script> 

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  -->

  <script src="js/jquery.min.js"></script>  
  <script src="js/angular.min.js"></script>  
 
  <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>


</head> 


<body ng-controller="myController"> 
 
  <div class="container"> 
 
 
  <h1 class="text-center">EBook Library - Welcome!</h1> 
  <br><br>

  <div align="center">
      <button ng-click="donate()" class="btn btn-warning btn-lg">Support This Project</button>
  </div>

   
  <form class="form-horizontal"> 
    
    <div class="row"> 
     <div class="form-group"> 
      <label class="control-label col-sm-3">Enter Keyword</label> 
         <div class="col-sm-6"> 
          <input type="text" name="keyword" ng-model="keyword"  class="form-control" required placeholder="Book Title" /> 
        </div>       
    </div> 
    </div> 
     
    <br/> 
 
    <div class="text-center"> 
      <button type="submit" ng-click="getEbooks(keyword)" class="btn btn-primary"> 
          Fetch EBooks 
      </button> 
    </div> 
 
 
    </form> 
     




    <div class="row">
      <div class="col-sm-12">
            
            <div ng-repeat="book in books" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                   <div class="panel" style="padding:5px;border:0.1px solid #222">
                       <img src="{{book.image}}" width="100%" height="300px" />
                       <h6 class="text-center">
                          <a href="{{book.link}}">
                            <span>{{book.title}}</span><br />
                            <span style="font-size:8px;">{{book.author}}</span>
                          </a>
                       </h6>
                       <div class="text-center">
                          <a href="{{book.link}}" target="blank">
                            <button type="button" class="btn btn-primary">
                              Access Ebook
                            </button>
                          </a>
                        </div>
                   </div>
            </div>

      </div>
    </div>








    

  </div>   
     




  <script> 
  
    var app = angular.module('myApp', []); //create app module 
    
    app.controller('myController', function($scope,$http) {  //controller 
  
        $scope.getEbooks = function(keyword){ //Function that is called by ng-click for the search button
  
          $http.get("app.php?keyword="+keyword).then(function(response){ //http get request sent to app.php
            $scope.books = response.data; //json array response assigned to an array for the book template
          }); //end of request
  
        }; //end of function



$scope.donate = function(){
    var amt = prompt("Enter Amount(NGN) To Donate?");
    amt = parseInt(amt);
    if(Number.isInteger(amt)){
        const API_publicKey = "FLWPUBK-18a307a5b1f7dd57f3510394e0313a44-X";

        var x = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: "webvicki@gmail.com",
            amount: amt,
            customer_phone: +2348130278170,
            currency: "NGN",
            txref: "rave-123456",
            meta: [{
                metaname: "flightID",
                metavalue: "AP1234"
            }],
            onclose: function() {},
            callback: function(response) {
                var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
                console.log("This is the response returned after a charge", response);
       if (
                    response.tx.chargeResponseCode == "00" ||
                    response.tx.chargeResponseCode == "0"
       ) {

            alert('Payement Successful!');

       } else {
             alert('Payement Unsuccessful!');
             $window.history.go();
           }
                x.close(); // use this to close the modal immediately after payment.
            }
        });

    }

    };


  
    }); 
  
  </script>


</body> 
</html>



